
<div class="content py-0">
  <div class="row fs-sm">
    <div class="text-center">
      <a class="fw-semibold" href="https://1.envato.market/r6y" target="_blank">ePPS v<a class="fw-semibold">1.0.0</a></a> &copy; <span data-toggle="year-copy"></span>
    </div>
  </div>
</div>
