<div class="content-header">
  <div class="space-x-1">
    <button type="button" class="btn btn-alt-secondary" data-toggle="layout" data-action="sidebar_toggle">
      <i class="fa fa-fw fa-bars"></i>
    </button>
  </div>
  <div class="space-x-1">
    <button type="button" class="btn btn-alt-secondary" id="page-header-notifications-dropdown" aria-haspopup="true"
      aria-expanded="false">
      <span id="fullnamenav" class="d-none d-sm-inline-block text-uppercase"> </span>
    </button>
    <button type="button" class="btn btn-alt-secondary" id="page-header-notifications-dropdown" aria-haspopup="true"
      aria-expanded="false">
      <span class="d-none d-sm-inline-block text-uppercase">Scale</span>
      <span id="idScalenav" class="d-none d-sm-inline-block text-uppercase"> </span>
    </button>
    <div class="dropdown d-inline-block">
      <button id="connection" type="button" class="btn btn-alt-secondary" id="page-header-notifications-dropdown"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-signal text-gray"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
        aria-labelledby="page-header-notifications-dropdown">
        <div id="textConnection" class="text-center text-uppercase fw-light text-muted fs-6"></div>
      </div>
    </div>
    <button type="button" class="btn btn-alt-secondary" id="page-header-notifications-dropdown" aria-haspopup="true"
      aria-expanded="false">
      <div onclick="keluar()" class="fw-semibold"><i
          class="fa-solid fa-arrow-right-from-bracket opacity-50 me-1"></i><span id="" class="text-uppercase"></span>
      </div>
    </button>
  </div>
</div>
<div id="page-header-loader" class="overlay-header bg-header-dark">
  <div class="bg-white-10">
    <div class="content-header">
      <div class="w-100 text-center">
        <i class="fa fa-fw fa-sun fa-spin text-white"></i>
      </div>
    </div>
  </div>
</div>