<div class="bg-header-dark">
        <div class="content-header bg-white-5">
          <!-- Logo -->
           <div>

              <a class="fw-semibold text-white tracking-wide" href="/">
                <span class="smini-visible">
                  D<span class="opacity-75">x</span>
                </span>
                <span class="smini-hidden h2 ms-auto">
                  e<span class="opacity-75">PPS</span>
                </span>
              </a>
           </div>
          <!-- END Logo -->

          <!-- Options -->
          <div>
            <!-- Toggle Sidebar Style -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
            <!-- <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle"
              data-target="#sidebar-style-toggler" data-class="fa-toggle-off fa-toggle-on"
              onclick="Dashmix.layout('sidebar_style_toggle');Dashmix.layout('header_style_toggle');">
              <i class="fa fa-toggle-off" id="sidebar-style-toggler"></i>
            </button> -->
            <!-- END Toggle Sidebar Style -->

            <!-- Dark Mode -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button id="iconNavigator" type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle"
              data-target="#dark-mode-toggler" data-class="far fa" onclick="toggleDarkMode();">
              <i class="far fa-moon" id="dark-mode-toggler"></i>
            </button>
            <!-- <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle"
              data-target="#dark-mode-toggler" data-class="far fa" onclick="Dashmix.layout('dark_mode_toggle');">
              <i class="far fa-moon" id="dark-mode-toggler"></i>
            </button> -->
            <!-- END Dark Mode -->

            <!-- Close Sidebar, Visible only on mobile screens -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none" data-toggle="layout"
              data-action="sidebar_close">
              <i class="fa fa-times-circle"></i>
            </button>
            <!-- END Close Sidebar -->
          </div>
          <!-- END Options -->
        </div>
      </div>
      <!-- END Side Header -->

      <!-- Sidebar Scrolling -->
      <div style=" position: relative;" class="js-sidebar-scroll ">
        <!-- Side Navigation -->
        <div class="content-side">
          <ul id="sidebarman" class="nav-main text-uppercase">
                                        
          </ul>
        </div>
        <!-- <div style=" position: absolute; bottom: 0;" class="block-content block-content-full text-center fw-light">Version 1.0.0</div> -->
        <!-- END Side Navigation -->
      </div>
      <!-- END Sidebar Scrolling -->