<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed page-footer-fixed sidebar-o side-trans-enabled">
      <nav id="sidebar" aria-label="Main Navigation"><%- include('../partials/navigasi'); %></nav>
      <!-- END Sidebar -->

      <!-- Header -->
      <header id="page-header">
        <!-- Header Content -->
        <%- include('../partials/header'); %>
      </header>
      <!-- END Header -->

      <!-- Main Container -->
      <main id="main-container">
        <!-- Page Content -->
        <div class="content">
          <h4 id="assingEmployeePage" class="content-heading text-uppercase"></h4>
          <div class="block block-rounded">
            <div class="block-header">
              <!-- <h3 class="block-title">add</h3> -->
              <div class="block-title">
                <button title="Add" type="submit" onclick="showModalInsertAssignEmployee()" class="btn btn-primary">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
              <div class="block-options">
                <button type="button" class="btn-block-option" data-toggle="block-option" data-action="fullscreen_toggle"></button>
              </div>
            </div>
            <div class="block-content block-content-full">
              <div id="rowUsers" class="row table-responsive">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                  <thead>
                    <tr>
                      <th id="nameTabel" class="text-center text-uppercase">Name</th>
                      <th id="modayTable" class="text-center text-uppercase">Monday</th>
                      <th id="tuesdayTable" class="text-center text-uppercase">tuesday</th>
                      <th id="wednesdayTable" class="text-center text-uppercase">wednesday</th>
                      <th id="thursdayTable" class="text-center text-uppercase">thursday</th>
                      <th id="fridayTable" class="text-center text-uppercase">friday</th>
                      <th id="saturdayTable" class="text-center text-uppercase">saturday</th>
                      <th id="sundayTable" class="text-center text-uppercase">sunday</th>
                      <th id="actionsTable" class="text-center text-uppercase">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="dataTable"></tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- END Store Growth -->
        </div>
      </main>
      <footer id="page-footer" class="bg-body-light"><%- include('../partials/footer'); %></footer>
    </div>
    <div class="modal" id="modalAssignEmployee" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="modalAssignEmployee" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="block block-rounded block-themed block-transparent mb-0">
            <div class="block-header bg-primary-dark">
              <h3 id="titleAssingEmployee" class="block-title text-uppercase">Add Menu</h3>
              <div class="block-options">
                <button type="button" class="btn-block-option text-gray" data-toggle="block-option" data-action="fullscreen_toggle"></button>
              </div>
            </div>
            <form class="js-validation">
              <div class="block-content">
                <div class="col-sm-12 mb-2">
                  <label id="nameLabel" class="form-label text-uppercase" for="name">Name</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="name" id="name" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
                <div class="col-sm-12 mb-2">
                  <label id="mondayLabel" class="form-label text-uppercase" for="monday">Monday</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="monday" id="monday" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
                <div class="col-sm-12 mb-2">
                  <label id="tuesdayLabel" class="form-label text-uppercase" for="tuesday">tuesday</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="tuesday" id="tuesday" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
                <div class="col-sm-12 mb-2">
                  <label id="wednesdayLabel" class="form-label text-uppercase" for="wednesday">wednesday</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="wednesday" id="wednesday" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
                <div class="col-sm-12 mb-2">
                  <label id="thursdayLabel" class="form-label text-uppercase" for="thursday">thursday</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="thursday" id="thursday" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
                <div class="col-sm-12 mb-2">
                  <label id="fridayLabel" class="form-label text-uppercase" for="friday">friday</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="friday" id="friday" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
                <div class="col-sm-12 mb-2">
                  <label id="saturdayLabel" class="form-label text-uppercase" for="saturday">saturday</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="saturday" id="saturday" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
                <div class="col-sm-12 mb-2">
                  <label id="sundayLabel" class="form-label text-uppercase" for="sunday">sunday</label>
                  <select class="js-select2 form-select fw-light text-uppercase" name="sunday" id="sunday" style="width: 100%" data-container="#modalAssignEmployee"></select>
                </div>
              </div>
              <div id="load" class="block-content block-content-full text-end bg-body"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- 1. CORE LIBRARIES (jQuery MUST be first) -->
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/dashmix.app.min.js"></script>

    <!-- 2. UTILITY/HELPER SCRIPTS -->
    <script src="js/mainUrl.js"></script>
    <script src="lib/loadingPage.js"></script>
    <script src="lib/epps.js"></script>

    <!-- 3. FORM VALIDATION & INPUT HANDLING -->
    <script src="assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="assets/js/plugins/jquery-validation/additional-methods.js"></script>
    <script src="assets/js/plugins/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="assets/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <!-- 4. UI COMPONENTS -->
    <script src="assets/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="assets/js/plugins/flatpickr/flatpickr.min.js"></script>
    <script src="assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- 5. DATATABLES SUITE -->
    <script src="assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="assets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="assets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="assets/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="assets/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="assets/js/plugins/datatables-buttons/buttons.html5.min.js"></script>

    <!-- 6. DATA VISUALIZATION -->
    <script src="assets/js/plugins/chart.js/chart.umd.js"></script>

    <!-- 7. PAGE SPECIFIC SCRIPTS -->
    <script src="assets/js/pages/be_pages_dashboard.min.js"></script>

    <!-- 8. ASSIGN EMPLOYEE MODULE -->
    <script src="js/assign_employee/selectAssignEmployee.js"></script>
    <script src="js/assign_employee/insertAssignEmployee.js"></script>
    <script src="js/assign_employee/updateAssignEmployee.js"></script>
    <script src="js/assign_employee/deleteAssignEmployee.js"></script>

    <!-- 9. INITIALIZATION (Combined into single call) -->
    <script>
      Dashmix.helpersOnLoad(["js-flatpickr", "jq-datepicker", "jq-maxlength", "jq-select2", "jq-rangeslider", "jq-masked-inputs", "jq-pw-strength", "jq-notify"]);
    </script>
  </body>
</html>
